<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410574948666-6ksdmp1b24neo5dq40lhiqn0kfp15188.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410574948666-6ksdmp1b24neo5dq40lhiqn0kfp15188</string>
	<key>API_KEY</key>
	<string>AIzaSyB6AgdmVszUEiYk2yFji9L3l25eI2QXyek</string>
	<key>GCM_SENDER_ID</key>
	<string>410574948666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-7f6e0</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-7f6e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410574948666:ios:35a3f9e4e9b6366fb2a803</string>
</dict>
</plist>